.checkoutProduct {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.checkoutProduct-info {
  padding-left: 4rem;
}

.checkoutProduct-qty > select {
  width: 3rem;
}

.checkoutProduct-img {
  width: 50%;
  height: 15vw;
  object-fit: cover;
}
